#encabezado
{
    background-color: tomato;
}
#parrafo
{
    background-color: tomato;
}
/*body {
    background-color: lightblue;
  }*/
  body {
    background-image: url("1384063.png");
  }
  /*usando la propiedad de no repertir el fondo*/
  body {
    background-image: url("1384063.png");
    background-repeat: repeat-x;
  }
  /*  haciendo uso de archivo adjunto de una imagen de fondo*/
  body {
    background-image: url("1384063.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }
  /* Trabajamos con archivo adjunto de manera scroll*/
  body {
    background-image: url("1384063.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
  }