#encabezado
{
    background-color: tomato;
}
#parrafo
{
    background-color: tomato;
}
/*body {
    background-color: lightblue;
  }*/
  body {
    background-image: url("1384063.png");
  }
  /*usando la propiedad de no repertir el fondo*/
  body {
    background-image: url("1384063.png");
    background-repeat: repeat-x;
  }